/MonitorApplication/nbproject/private/
/MonitorApplication/dist/
/MonitorApplication/build/
/MonitorApplication/lib/
/MonitorApplication/server/node_modules/*
/MonitorApplication/MonitorApplication/*
/MonitorApplication/MonitorApplication.zip
